<link rel="stylesheet" type="text/css" href="/static/about.css">
<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title> ABCD HOSPITALS </title>
   </head>


      <body>
	  <div class = 'heading'>
	  
<div class =  'ambulance' >
<img src="static\photos\amb.gif" class = "ambgif">
<br>
Call Ambulance<br>+977 9845634516
</div>	  


<img src="static\photos\logo.gif" class =  'logogif'>
                      <p class="mainheading">  ABCD HOSPITALS</p>
<p class = 'subcat'> 'Empowering People to Improve Their Lives'<br>Contact No: 01-488515, +977 9856745256</p>



	  </div>
          <div class="navbar" >
            <a href="/" style="color:white;">

		     <div class = 'nav_word'> 
              Home 
          
			  </div>
            </a>

            <a href="aboutus" style="color:gold;" >
			  <div class = 'nav_word'> 
               About Us
			  </div>
              </a>

              <a href="contact"  style="color:white;" >
			  <div class = 'nav_word'> 
              Contact us
			  </div>
            </a>
            </div>
			  


<div class = "divabtus">

<p class ="abtus">ABOUT US</p>
<p class="abtdes"> Bhatta Group, one of the prominent Corporate Houses of Nepal, established ABCD International Hospital in 1993.
Today, the hospital is recognized as one of the best critical care hospitals in the country and remains a full-service,
multi-speciality care facility designated as an International Hospital.<br>

ABCD is regarded as the most credible Healthcare Centre in the country, committed to Quality Health Care
in the Nation’s service with personalized and compassionate patient care. It is also acclaimed for pioneering the
private healthcare revolution in the country. Henceforth, ABCD is hailed as one of the top best hospitals in 
Kathmandu, Nepal.
<br>
Since its inception in 1993, ABCD has risen to a leadership position and has emerged as Nepal’s foremost healthcare 
service provider touching the lives of more than 2 million patients across Nepal and abroad.
</p>

<br><br>

<p class = "abtsubtopic">Why Choose ABCD?</p>
<p class="abtdes">
-The first Hospital in Nepal with NABL accreditation with high-tech laboratory services and is also certified for ISO 9001:2015 standards.<br>
-The first private sector hospital to introduce the Catheterization Lab in the country; it offers one of the world’s best Invasive and Non-Invasive Cardiac facilities to the nation.<br>
-The first private sector hospital certified with “Global Green and Healthy Hospital”.<br>
-The first hospital in the country to have the National Accreditation Board for Testing Laboratories (NABL), a certified pathology lab, that provides a wide range of full-fledged Pathological and Diagnostic facilities.
-The first private hospital to implement a safe health care waste management system.<br>
</p>


<br><br>
<p class = "abtsubtopic">MISSION</p>

<p class="abtdes">-To provide high quality and affordable health care to the society</p>
<br><br>
<p class = "abtsubtopic">VISION</p>
<p class="abtdes">

-To create an institution with safe and evidence based medicine<br>
-To set high Ethical standards in medical Practice
</p>

</div> 



</body>