<link rel="stylesheet" type="text/css" href="static\baseee.css">
<head>
<title>
ABCD Hospital
</title>
</head>
{% block body %}
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
   </head>


      <body>
	  <div class = 'heading'>
	  
<div class =  'ambulance' >
<img src="static\photos\amb.gif" class = "ambgif">
<br>
Call Ambulance<br>+977 9845634516
</div>	  


<img src="static\photos\logo.gif" class =  'logogif'>
                      <p class="mainheading">  ABCD HOSPITALS</p>
<p class = 'subcat'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'Empowering People to Improve Their Lives'<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact No: 01-488515, +977 9856745256</p>
</div>
          <div class="navbar" >
            <a  href="" style="color:gold;">
		  <div class = 'nav_word'  > 
        <p >
              Home 
        </p>
			</div>
        </a>

                  <a href="aboutus" style="color:white;">
			  <div class = 'nav_word'> 
               About Us
			  </div>
            </a>

            <a href="contact" style="color:white;">
			  <div class = 'nav_word' > 
              Contact us
			  </div>
      </a>
</div>

<section class="background firstsection">
  <div class="boxmain">
  <div class="firsthalf">
    <a href="viewappointments"><li class = 'listtext'>Appointment<img src="static\photos\appoint.jpg" height="100px" width="100px"></a></li><br>
    
    <a href="viewdoctors"><li class = 'listtext'>Doctor<img src="static\photos\docter.jpg" height="100px" width="100px"></a></li><br>
    <a href="patient_login" ><li class = 'listtext'>Patient<img src="static\photos\patient.jpg" height="100px" width="100px"></a></li><br>
    
    </div>
  <div class="secondhalf">
    <p class="text-big">FOR BETTER HEALTH FOR BETTER LIFE.</p>
      <p class="text -small">
      </p>
      
      
    
      
    <br><br><br><br>
    <img src="static\photos\body.jpg" class = "imgatbody">
</div>
</div>    
</section>




<section class="secondsection ">
<div class="fhalf">
<div class="text">
<p  class="sectiontag">ABOUT US</P>
<p class="sectionsubtag">ABCD is regarded as the most credible Healthcare Centre in the country, committed to Quality Health Care
  in the Nation’s service with personalized and compassionate patient care. It is also acclaimed for pioneering the
  private healthcare revolution in the country. Henceforth, ABCD is hailed as one of the top best hospitals in 
  Kathmandu, Nepal.</p></div>
<div class="thumbnail">

<img src="static\photos\about.jpg">
</div>
</div>
</section>
         
{% endblock body %}
    