<link rel="stylesheet" type="text/css" href="/static/about.css">
<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title> ABCD HOSPITALS </title>
   </head>


      <body>
	  <div class = 'heading'>
	  
<div class =  'ambulance' >
<img src="static\photos\amb.gif" class = "ambgif">
<br>
Call Ambulance<br>+977 9845634516
</div>	  


<img src="static\photos\logo.gif" class =  'logogif'>
                      <p class="mainheading">  ABCD HOSPITALS</p>
<p class = 'subcat'> 'Empowering People to Improve Their Lives'<br>Contact No: 01-488515, +977 9856745256</p>



	  </div>
      <div class="navbar" >
        <a href="/"  style="color:white;" >

         <div class = 'nav_word'>
         
          Home 
      
          </div>
        </a>

        <a href="aboutus" style="color:white;" >
          <div class = 'nav_word'> 
           About Us
          </div>
          </a>

          <a href="contact"  style="color:gold;" >
          <div class = 'nav_word'> 
          Contact us
          </div>
        </a>
        </div>

<p class= 'conttitle'> CONTACT US </p>
<div class="detailcontus">
<p class = "subconttile">ADDRESS</p>
<p class = "subcon">ABCD International Hospital<br>
Thapathali, Kathmandu</p>
<br>
<p class = "subconttile">EMAIL</p>
<p class = "subcon">info@abcdhospital.com</p><br>
<p class = "subconttile">TELEPHONE NUMBERS</p><br>

<p class = "subconttile">Hospital</p>
<p class = "subcon">+977 9856745256</p><br>

<p class = "subconttile">Emergency</p>
<p class = "subcon">01-488515</p><br>

<p class = "subconttile">WORKING HOURS</p>
<p class = "subcon">24/7 (Emergency Department)</p><br>

</div>
<form>
<div class= "sendmessgae">
<input type = "text" required class= "bassicDetails" placeholder = "Full name">
<input type = "text" required  class= "bassicDetails" placeholder = "Phone number">
<input type = "text"  class= "bassicDetails" placeholder = "Email">
<br>
<textarea type = "message" required  class = "messg" placeholder="Message..."></textarea>

<br>
<input type = 'submit' class = "submsgbut" value = "Send Message">
</form>

</div>
</body>