
<link rel="stylesheet" type="text/css" href="/static/design2.css">
<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title> ABCD HOSPITALS </title>
   </head>


      <body>
	  <div class = 'heading'>
	  
<div class =  'ambulance' >
<img src="static\photos\amb.gif" class = "ambgif">
<br>
Call Ambulance<br>+977 9845634516
</div>	  


<img src="static\photos\logo.gif" class =  'logogif'>
                      <p class="mainheading">  ABCD HOSPITALS</p>
<p class = 'subcat'> 'Empowering People to Improve Their Lives'<br>Contact No: 01-488515, +977 9856745256</p>



	  </div>
          
		 <h1 style="margin:25px;">Error occured!!!<h1>
		

		 <br>
		 

		



       </body>
</html>