<link rel="stylesheet" type="text/css" href="/static/report.css">
<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>admin</title>
		
   </head>


      <body>
	  <div class = 'heading'>
	  


<img src="static\photos\logo.gif" class =  'logogif'>
                      <p class="mainheading">  ABCD HOSPITALS</p>
<p class = 'subcat'> 'Empowering People to Improve Their Lives'<br>Contact No: 01-488515, +977 9856745256</p>
</div>
       
	   
	   
	   
<p class="pageinto" ><h>Here are your details </h></p>
<br><br>

<br><br>
<div class = 'labreport'>

<div class = 'repheading'>

<p class = "otherdetails">
Contact No: 01-488515, +977 9856745256 <br>
Address: Thapathali,Kathmandu,Nepal<br>
Email:info@abcdhospital.com.np
</p>

<img src="static\photos\logo.gif" class =  'logogif'>

<p class = "reporttitle"> ABCD HOSPITAL
<p class = "motodes"> Catagory 'A' Hospital authorized by Ministry Of Health and Population</p>

</p> 


</div>


<div class="otherpatientdetaillab">
<br>
&nbsp; &nbsp;<img src="static\photos\qrscan.png" height="100px" width="100px"><br><i>scan to view detail</i>

</div>
<div class = "patientdetailsrep">
<br>
   <p style="color:red;"><b>Patient id:  {{n}}</b></p><br>
   <b>Name:  &nbsp; &nbsp; &nbsp; &nbsp;{{fname}}</b> <br>
   Age: &nbsp; &nbsp;  &nbsp;&nbsp;  &nbsp; &nbsp;{{age}}<br>
   Sex: &nbsp; &nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp; {{sex}}<br>
   Phone:  &nbsp; &nbsp; &nbsp; &nbsp;{{phn}}<br>
   email: &nbsp; &nbsp; &nbsp; &nbsp;{{email}}<br>
   Address:&nbsp; &nbsp; &nbsp;{{address}}
   <br><br>
   
   <h>Go back to login.</h>
   
</div>

<br><br><br><br><br>

<div class="upfooter">


<div class = "docdetail" >
<img src="static\photos\sign.png" height="100px" width="150px"><br>
---------------------------<br>
Ram Narayan Bidari<br> Registration Office Head<br>
 </div>


<div class = "barcode">

<img src="static\photos\barcode.jpg" height="100px" width="150px">
</div>

</div>

<div class = "repfotter">
<p> <i>'Empowering People to Improve Their Lives'</i></p>
</div>

</div>
	
			
    </body>

</html>