<!--<link rel="stylesheet" type="text/css" href="/static/admin2.css">-->

<link rel="stylesheet" type="text/css" href="/static/report.css">


<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		
   </head>


      <body>
	  <div class = 'heading'>
	  


        <img src="static\photos\logo.gif" class =  'logogif'>
        <p class="mainheading">  ABCD HOSPITALS</p>
<p class = 'subcat'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'Empowering People to Improve Their Lives'<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact No: 01-488515, +977 9856745256</p>
</div>
       
	
<br><br>
<div class = 'labreport'>

<div class = 'repheading'>

<p class = "otherdetails">
Contact No: 01-488515, +977 9856745256 <br>
Address: Thapathali,Kathmandu,Nepal<br>
Email:lab@abcdhospital.com.np
</p>

<img src="static\photos\logo.gif" class =  'logogif'>

<p class = "reporttitle"> ABCD HOSPITAL
<p class = "motodes"> Catagory 'A' hospital authorized by Ministry Of Health and Population</p>

</p> 


</div>


<div class="otherpatientdetaillab">
<b>BILL No:17968865</b><br>
&nbsp; &nbsp;<img src="static\photos\qrscan.png" height="100px" width="100px"><br><i>&nbsp;&nbsp;Scan to view bill</i>

</div>
<div class = "patientdetailsrep">

   <b>Name: </b> &nbsp; &nbsp; &nbsp;&nbsp;{{pname}}   <br>
   <b>Sex:</b> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{psex}} &nbsp; &nbsp; &nbsp;<br>
   <b>Age:</b> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;{{page}} yrs &nbsp; &nbsp; &nbsp;<br>
   <b>Phone:</b> &nbsp;&nbsp; &nbsp;&nbsp;{{phone}}<br>
   
   <b>Date:</b></b>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{pdate}}
   
</b> 
   
</div>

<div class="actualreport">

<table class = "actvaluetable" >

    <tr>
        <th>
           Topic
        </th>
        <th>
            Cost
         </th>
        </tr>

        <tr>
            <td>
               Opd
            </td>
            <td>
                {{opd}}
             </td>
            </tr>
            <tr>
                <td>
                   Lab
                </td>
                <td>
                    {{lab}}
                 </td>
                </tr>             
    
                    <tr>
                        <td>
                           Medicine cost
                        </td>
                        <td>
                            {{medi}}
                         </td>
                        </tr>    
                        <tr>
                            <td>
                               Miscellaneous
                            </td>
                            <td>
                                {{misc}}
                             </td>
                            </tr>
                            <br><br>
                            <tr>
                                <th>
                                   Total
                                </th>
                                <th>
                                    {{totall}}
                                 </th>
                                </tr>
            </table>
            <br><br>
			
<p> <i>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
***End of Bill ***</i> </p>

</div>

<div class="upfooter">


<div class = "docdetail" >
<img src="static\photos\sign.png" height="100px" width="150px"><br>
---------------------------<br>
&nbsp; &nbsp; &nbsp;
<b>Jenisha Adhikari</b> <br>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; <b>Accountant</b> <br>
 </div>


<div class = "barcode">

<img src="static\photos\barcode.jpg" height="100px" width="150px">
</div>

</div>

<div class = "repfotter">
<p> <i>'Empowering People to Improve Their Lives'</i></p>
</div>

</div>


<form method="post" action="paid">
{% csrf_token %}
          <div style="margin-left:75%;margin-top:10px;">
    <button style="width:200px;height:50px;font-size: larger;" id="next1" type="submit" class = "subgroup_but">Pay</button> <br>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> 
</div>
</form>



			

			
			
			
    </body>

</html>
    </body>

</html>