<link rel="stylesheet" type="text/css" href="/static/viewappnnn.css">

<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>admin</title>
		
   </head>


      <body>
	  <div class = 'heading'>
	  


        <img src="static\photos\logo.gif" class =  'logogif'>
        <p class="mainheading">  ABCD HOSPITALS</p>
<p class = 'subcat'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'Empowering People to Improve Their Lives'<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact No: 01-488515, +977 9856745256</p>
</div>
       

<br><br>

<form id= "form1" name="accform" autocomplete="off"   action="viewappnts" method="POST">
    {% csrf_token %}
<p class="topic_subgroup">View appointments::</p><br> 

<input type = 'number' required class="subgroup_detail" name ='appid' placeholder="Appointment ID"  min='0'>

<br><br>
<div class="btn-box">
<button  id="next1" type="submit"  class = "subgroup_but"> View</button> 

</div>


</form>

<div class = "patdetailll" >
Appointment id:{{aid}}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Appointment date:{{adate}}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Appointment Time:{{atime}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Doctor Id:{{did}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br>
Doctor's name:{{dname}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Department:{{dep}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Doctor's qualification:{{dqual}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Doctor's experience:{{dexp}}
</div>

<table class="iddescriptiontable">

            <tr>

            <th>
               Patient's Name 
            </th>
            
            <th>
               Turn
            </th>
            <th>
                Phone Number
             </th>
            </tr>
            
            {% for i in appntss %}
            <tr>
                {% for j in i %}
             
                    <td>
            {{j}}
                    </td>
                    {% endfor %}
            </tr>
            {% endfor %}
            
            
            </table>
            
    </body>

</html>