


* {
    margin: 0;
    padding: 0;
}


body
{
margin:2px;
border:solid 2px black;
background-color:#f4fafd;
	
}

/*---------------------------------------------------Heading section ------------------------------------------------------------*/
.ambulance
{
	float:right;
	height:97px;
	margin-right:5px;
	border:solid 2px black;
	text-align:center;
	color:white;
	background:maroon;
	margin-top:5px;
	border-radius:5px;
	font-size:20px;
	
	
}
.ambgif
{
	height:50px;
}

.logogif
{
float: left;
	
height:105px;
	
}


.heading
{
	border:solid 2px black;
	height:110px;
	padding-left:25%;
	background-color:#f4fafd;
	
	
	
}

/*  hospitalname*/
.mainheading{
	font-size:45px;
	font-weight:bolder;
	color:maroon;
	
}
.subcat
{
	color:maroon;
}
	
	
/* --------------------------------------------------------------------------------------------------------------- */	

.pageinto
{
	margin-top:5px;
	text-align:center;
	font-size:20px;
	background-color:#f2dede;
	font-weight:bolder;
	
	
	
}	




.PatientDetail
{
	font-size:22px;
	font-family:Parkavenue, cursive;
	border:solid 2px black;
	background-color:white;
	padding:10px;
	
}











.takeappointment,.makepayment
{
	border:solid 2px black;
	margin:5px;
	width:98%;
	padding-bottom:20px;
	background-color:white;
	border-radius:5px;
}








.topic_subgroup
{
	
		margin-top:5px;
	padding-left:30px;
	font-size:20px;
	background-color:#f2dede;
	font-weight:bolder;
	color:maroon;
	
}


.app{
border:2px solid rgb(14, 15, 14) ;
border-radius: 5px;
height:40px;
width:200px;
font-weight:bold;
color:white;
font-size: 16px;
background-color: rgb(4, 85, 107);
}

.subgroup_detail
{
	 border:solid 2px black;
	 border-radius:10px;
	 margin-left:30px;
	 height:40px;
	 width:240px;
	 font-size:15px;
	 padding-left:5px;
}

.subgroup_detail:hover
{
		border:solid 2px blue;
}


.subgroup_but

{
	width:85px;
	 height:30px;
	 margin-left:3%;
	 font-size:15px;
	 font-weight:bolder;
	 border:solid 2px black;
	 border-radius:1px;
	 cursor:pointer;
	 background-color:green;
	 color:white;
}








.payment
{
border:solid 2px black;
margin-left:32%;
margin-top:10px;

display:block	
}
	
	
