
*{
    margin:0;
    padding:0;
    font-family:sans-serif;
}
body{
    background-image: url("backg.webp");

    background-position: center;
    background-size: cover;
    height:1200px;
  
}
img{
    opacity:0.5;
}
.signn
{
    text-align: center;
    font-size:xx-large;
  
    
}
.register{
   margin-left: 35%;
    background-color: white;
    height:700px;
    width: 400px;
    border: solid rgb(20, 19, 19) 2px ;
    border-radius: 15px;
    margin-top: 150px;
    display:flex;
    
}

.sign_in2{
    margin-left:5%;
    background-color: white;
    height:430px;
    width: 400px;
    border: solid rgb(20, 19, 19) 2px ;
    border-radius: 15px;
    margin-top: -430px;
    display:flex;
   
}
.sign_in3{
    margin-left:65%;
    background-color: white;
    height:430px;
    width: 400px;
    border: solid rgb(20, 19, 19) 2px ;
    border-radius: 15px;
    margin-top: -430px;
    display:flex;
 
}
.Pat_info
{
    border: solid rgb(12, 12, 12) 2px ;
    height: 60px;
    width: 390px;
    margin-left: 8px;
    border-radius: 5px;
    font-size: medium;
}
.date
{
    margin-left: 8px;
    border-radius: 5px;
    border: solid rgb(12, 12, 12) 2px ;
    height: 60px;
    width: 300px;
}
.gender
{
   
    border: solid rgb(12, 12, 12) 2px ;
    height: 60px;
    width: 120px;
    margin-right: 6px;
    border-radius: 5px;
    font-size: medium;
    float:right;
    font-size: larger;
    padding-top: 0.5px;
}

.genderr
{
    margin-left: 4px;
}
.btn-box
{

    width:100%;
    text-align: center;
  
   
}

#form1
{
    left:600px;
}


form button{

    width:170px;
    height:45px;
    margin :0 10 px;
   text-align:center ;
    background-image: linear-gradient( to right, #284fa9,#cdcccb);
    border-radius: 30px;
    border:0;
    outline:none;
    color:rgb(34, 30, 30);
    cursor:pointer;
    font-size: larger;
    margin-left: 4px;

}
.yesno
{
   
    border-radius: 5px;
  
    height:30px;
    width:1200px;
    float:right;
}
.yesorno
{

margin:0.5px;
}
